#forecast-container {
    width: 100%;
    height: 45%;
    background-color: rgb(250, 250, 250);
    text-align: center;
    opacity: .75;
    font-family: 'Baloo Bhai', cursive;
}

#header {
    display: flex;
    flex-direction: row;
}

#link {
    width: 30%;
    margin-top: 45px;
}

h1 {
    width: 40%;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.forecast-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.forecast-list-ele {
    width: 25%;
    padding: 0;
    margin: 0;
}